.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.mainContent {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.editorPanel {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  overflow: hidden;
}

.previewPanel {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  overflow: hidden;
}
